@media (min-width: 1200px) {
  #newslist{
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .newslist-left{
    width: auto;
  }
  #newslist-row{
    width: 159%;
  }
}
@media (max-width: 980px) {
  #containerfluid{
    max-height: 10%;
  }
}
